* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #413e3a;
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    margin-block: 5em;
}

::-webkit-scrollbar-thumb {
    background: #555;
}

.recipes {
    padding: 3em 10em;
}

.recipes--cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
